<!doctype html>
<html>
<head>
    <title>Niet voor niets</title>
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../content/pure-min.css">
</head>
<body>
    <div class="form">
        <img src="../content/images/logo-davinci-college.png" class="logo">
    </div>
    
    @RenderBody()

</body>
</html>