<h1>Register</h1>

<form method="post">
    <div class="createuserform">
        <div class="register">
            <p>
                <label>First name: </label>
                <input class="userinput" type="text" name="firstName" />
            </p>
        </div>
        <div class="register">
            <p>
                <label>E-mail: </label>
                <input class="userinput" type="email" name="email" />
            </p>
        </div>
        <div class="register">
            <p>
                <label>Password</label>
                <input class="userinput" type="password" name="password" />
            </p>
        </div>
        <a href="index">
            <input style="float:right; margin-top:5px;" type="submit" />
        </a>
    </div>
</form>