<h2>Register</h2>

<form method="post">
    <p>
        <label>First name: </label>
        <input type="text" name="firstName" />
    </p>
    <p>
        <label>E-mail: </label>
        <input type="email" name="email" />
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password" />
    </p>
    <a href="index">
        <input type="submit" />
    </a>
</form>