<h1>Klassen</h1>

@foreach (var klas in ViewBag.Message)
{
    <ul class="index-klassen-box">
        <li class="index-klassen"><a class="index-klassen-tekst" href="@Url.Action("ScheduleChanges", "Home", new { id = klas["Klasnaam"]})">@klas["Klasnaam"]</a></li>
    </ul>
}

<div class="navigatie">
    <ul class="index-navigatie-box">
        <li class="navigatie-item"><a class="navigatie-item-tekst" href="@Url.Action("Login", "Account")">Inloggen</a></li>
        <li class="navigatie-item"><a class="navigatie-item-tekst" href="@Url.Action("Subscribe", "Home")">Abonneer</a></li>
    </ul>
</div>
