<div class="frame-index-docent">
   

    <div class="menu-index-docent">
        <h1>Klassen</h1>
        <ul>
            <li><a href="@Url.Action("Edit", "Account")">Bewerken</a></li>
            <li><a href="@Url.Action("Push", "Account")">Maak een bericht</a></li>
            <li><a href="#">Afmelden</a></li>
        </ul>
        <br />
    </div>
    
    <div class="index-docent-beforeach">
        @foreach (var klas in ViewBag.Message)
        {

            <div class="class-list-index-docent">
                <ul>
                    <li><a href="@Url.Action("ScheduleChanges", "Home", new { id = klas["Klasnaam"] })">@klas["Klasnaam"]</a></li>
                </ul>
            </div>
        }
    </div>

</div>