<h1>Klassen</h1>

<div class="klassen-box">
    @foreach (var klas in ViewBag.Message)
    {
        <ul class="index-klassen-box">
            <li class="index-klassen"><a class="navigatie-item-tekst" href="@Url.Action("ScheduleChanges", "Home", new { id = klas["Klasnaam"] })">@klas["Klasnaam"]</a></li>
        </ul>
    }
</div>

<ul class="index-navigatie-box">
    <li class="navigatie-item" style="background-color: #349383"><a class="navigatie-item-tekst" href="@Url.Action("Edit", "Account")">Bewerken</a></li>
    <li class="navigatie-item" style="background-color: #4FB08F"><a class="navigatie-item-tekst" href="@Url.Action("Push", "Account")">Bericht maken</a></liclass>
    <li class="navigatie-item" style="background-color: #8ECD99"><a class="navigatie-item-tekst" href="#">Afmelden</a></li>
</ul>