
<div class="form">
    <h1 class="message">Klassen</h1>

        @foreach (var klas in ViewBag.Message)
        {
                      
             <div class="lijst">
                <ul>
                    <li><a href="@Url.Action("ScheduleChanges", "Home", new { id = klas["Klasnaam"]})">@klas["Klasnaam"]</a></li>
                </ul>
             </div>
        }
    <div class="lijst-one-index">
        <ul>
            <li><a href="@Url.Action("Login", "Account")">Inloggen</a></li>
            <li><a href="@Url.Action("Subscribe", "Home")">Abonneer</a></li>
        </ul>
    </div>
</div>