<script type="text/javascript">
    function Abonneer() {
        // NOT YET WORKING
        var email = document.getElementById('emailID').value;

        Parse.initialize("QGr7SiC0ROlcAJsSmB4ryzFgviGcNYMPz7JlCvCa", "225C2xK4PLFjcBx86zyHxEsgAYFaLRAsfrXy7V1j");
        var Subscribe = Parse.Object.extend("Subscribe");
        var subscribe = new Subscribe();
        subscribe.save({ Email: email });
    }
</script>

<h2>Aanmelden</h2>
<p>Als je je aanmeld, krijg je de wijzigingen ook via de mail. Mooi he?! Speciaal voor jullie iPhone-gebruikers</p>

<form method="post">
    <p><label id="emailID">E-mail</label><input type="text" name="emailadres" /></p>
    <p>
        <label>Klas</label>
        <select name="klasnaam" >
            @foreach (var klas in ViewBag.Message)
            {
                <option id="klas" value="@klas["Klasnaam"]">@klas["Klasnaam"]</option>
            }
        </select>
    </p>
    <input type="submit" value="Aanmelden" onclick="Abonneer()" />
</form>


