<script type="text/javascript">
    function Abonneer() {
        // NOT WORKING YET
        var email = document.getElementById('emailID').value;
        var klas = document.getElementById('klas').value;

        Parse.initialize("QGr7SiC0ROlcAJsSmB4ryzFgviGcNYMPz7JlCvCa", "225C2xK4PLFjcBx86zyHxEsgAYFaLRAsfrXy7V1j");
        var Subscribe = Parse.Object.extend("Subscribers");
        var subscribe = new Subscribe();
        subscribe.save({ Email: email });
        subscribe.save({ SubscribedClass: klas });
    }
</script>

<h2>Aanmelden</h2>
<p>Als je je aanmeld, krijg je de wijzigingen ook via de mail. Mooi he?! Speciaal voor jullie iPhone-gebruikers</p>

<form method="post">
    <p><label >E-mail</label><input id="emailID" type="text" name="emailadres" /></p>
    <p>
        <label>Klas</label>
        <select name="klasnaam" id="klas">
            @foreach (var klas in ViewBag.Message)
            {
                <option value="@klas["Klasnaam"]">@klas["Klasnaam"]</option>
            }
        </select>
    </p>
    <input type="submit" value="Aanmelden" onclick="Abonneer()" />
</form>