<script type="text/javascript">
    function Abonneer() {
        // NOT WORKING YET
        var email = document.getElementById('emailID').value;
        var klas = document.getElementById('klas').value;

        Parse.initialize("QGr7SiC0ROlcAJsSmB4ryzFgviGcNYMPz7JlCvCa", "225C2xK4PLFjcBx86zyHxEsgAYFaLRAsfrXy7V1j");
        var Subscribe = Parse.Object.extend("Subscribers");
        var subscribe = new Subscribe();
        subscribe.save({ Email: email });
        subscribe.save({ SubscribedClass: klas });
    }
</script>

<div class="header-abonneer">
    <h1>Abonneren</h1>
    <p>Als je je aanmeld, krijg je de wijzigingen ook via de mail. Mooi he?! Speciaal voor jullie iPhone-gebruikers</p>
</div>

<div class="geheel-formulier">
    
    <form method="post">
        <p>
            <label class="label-inloggen">E-mail</label>
            <input class="input-inloggen" id="emailID" type="text" name="emailadres" />
        </p>
        <p>
            <label class="label-inloggen">Klas</label>
            <select class="selecteer-klassen"name="klasnaam" id="klas">
                @foreach (var klas in ViewBag.Message)
                {
                    <option value="@klas["Klasnaam"]">@klas["Klasnaam"]</option>
                }
            </select>
        </p>
        <input class="abonneer-knop" type="submit" value="Aanmelden" onclick="Abonneer()" />
    </form>
</div>