*{
    margin:0px;
    padding:0px;
}

body {
    width:350px;
    height: 300px;
    margin:auto;
    margin-top: 100px;
}

h1{
    font-family: 'Century Gothic';
    font-size: 30px;
    color: black;
}

div.register{
    font-family: 'Century Gothic';
    font-size: 15px;
    margin-top: 10px;
}

div.createuserform{
    margin-top:20px;
}

input.userinput{
    float:right;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

