* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 700px;
    margin: auto;
}


h1 {
    text-align: center;
    font-family: Arial;
    color: #4FB08F;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li.index-klassen {
    background-color: rgb(79, 176, 143);
    width: 200px;
    height: 50px;
    font-size: 20pt;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
}

li.navigatie-item {
    width: 166px;
    height: 50px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: white solid 5px;
    display: inline-block;
}

ul.index-klassen-box {
    border: white solid 5px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul.index-navigatie-box {
    text-align: center;
}

a:hover.index-klassen-tekst{
    color: black;
}
a:hover.navigatie-item-tekst{
    color: black;
}

a.index-klassen-tekst {
    color: white;
    text-decoration: none;
    font-size: 13pt;
    line-height: 50px;
    font-family: 'Century Gothic';
}

a.navigatie-item-tekst {
    color: white;
    text-decoration: none;
    font-size: 12pt;
    line-height: 50px;
    font-family: 'Century Gothic';
}

label.label-inloggen {
    color: rgb(79, 176, 143);
    font-size: 20pt;
    font-family: 'Century Gothic';
    width: 200px;
}

p.inlog-box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

input.input-inloggen {
    float: right;
    width: 180px;
    height: 25px;
}

div.geheel-formulier {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

input.inlog-knop {
    width: 95px;
    height: 34px;
    font-size: 15px;
}

input.abonneer-knop {
    width: 100px;
    height: 30px;
    font-size: 15px;
    float: right;
    margin-top: 10px;
}

select.selecteer-klassen {
    float: right;
    width: 184px;
    height: 30px;
}

div.header-abonneer {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Century Gothic';
}

div.index-klassen-box {
    width: 700px;
}

select.select-inloggen {
    width: 234px;
    height: 30px;
    float: right;
}

textarea.area-inloggen {
    width: 232px;
    height: 100px;
    float: right;
    max-height: 100px;
    max-width: 232px;
}
