*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 700px;
    margin: auto;
}

h1{
    text-align: center;
    font-family: Arial;
    color: #4FB08F;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li.index-klassen{
    background-color: #8ECD99;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    text-decoration: none;
    text-align: center;
    color: white;
}

li.navigatie-item{
    width: 200px;
    height: 50px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: white solid 5px;
    display: inline-block;
}

ul.index-klassen-box{
    border: white solid 5px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul.index-navigatie-box{
    text-align: center;
}

a.index-klassen-tekst{
    color: white;
    text-decoration:none;
    font-size: 20pt;
    line-height:50px;
}
a.navigatie-item-tekst{
    color: white;
    text-decoration: none;
    font-size: 20pt;
    line-height:50px;
}

label.label-inloggen{
    font-size: 20pt;
    font-family: Arial;
    width: 200px;
}

p.inlog-box{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

input.input-inloggen{
    float:right;
    width: 180px;
    height: 25px;
}

div.geheel-formulier{
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

input.inlog-knop{
    width: 70px;
    height: 30px;
    font-size: 15px;
}

input.abonneer-knop{
    width: 100px;
    height: 30px;
    font-size: 15px;
    float: right;
    margin-top: 10px;
}

select.selecteer-klassen{
    float:right;
    width: 184px;
    height: 30px;
}

div.header-abonneer{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Century Gothic';
}