
@{
    ViewBag.Title = "Unsubscribe";

    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert("Dit emailadres bestaat niet.");
        </script>
    }

}

<div class="header-abonneer">
    <h1>Abonnement opzeggen</h1>
</div>

<div class="geheel-formulier">

    <form method="post">
        <p>
            <label class="label-inloggen">E-mail</label>
            <input class="input-inloggen" type="text" name="emailadres" required />
        </p>
        <p>
            <input class="abonneer-knop" type="submit" value="Opzeggen" />
            <a href="@Url.Action("Subscribe", "Home")"><input class="abonneer-knop" style="float:right; margin-right:4px;" type="button" value="Terug"></a>
        </p>
    </form>
</div>