@{
    ViewBag.Title = "Contact";
}

<script type="text/javascript">
    function nieuweKlas() {
        var Name = document.getElementById('klasId').value;

        Parse.initialize("QGr7SiC0ROlcAJsSmB4ryzFgviGcNYMPz7JlCvCa", "225C2xK4PLFjcBx86zyHxEsgAYFaLRAsfrXy7V1j");
        var Klas = Parse.Object.extend("Klas");
        var klas = new Klas();
        klas.save({ Klasnaam: Name });
    }
</script>

<div class="form">
    <h2 class="message">Klas toevoegen</h2>
    <form method="post">
        <label>Klas</label>
        <input type="text" id="klasId" placeholder="Klas naam" name="KlasNaam" /><br />
        <input type="submit" value="Toevoegen" onclick="nieuweKlas()" class="pure-button pure-button-primary" style="float:right"/>
    </form>
</div>