@{
    ViewBag.Title = "Edit";

    System.Collections.ArrayList listOfKlassNames = ViewBag.KlasName;

    int amountOfNames = 0;
    
    }

<div class="form">
    
    <h2 class="message">Kies een klas om te bewerken</h2>
   
    <div class="lijst-one">
        <ul>
            <li><a href="~/Account/Create">Voeg nieuwe klas toe</a></li>
            <li><a href="~/home/index">Terug</a></li>
        </ul>
        <br />
    </div>

    

        @foreach (var klas in ViewBag.Message)
{
    String id = listOfKlassNames[amountOfNames].ToString();
    
        <div class="lijst">

            <ul>
                <li><a href="../../Account/EditClassname?klasName=@id">@klas["Klasnaam"]</a></li>
            </ul>
        </div>
   
    amountOfNames++;
        }
    
   
</div>
    
 
    



   


