@{
    ViewBag.Title = "Edit";
}

<h1>Kies een klas</h1>
<table>
        @foreach (var klas in ViewBag.Message)
        {
            <tr>
                <td>@klas["Klasnaam"]</td>
            </tr>
        }
</table>
<form action="~/Account/Create">
    <input type="submit" value="Voeg een klas toe"/>
</form>