@model NietVoorNiets.ClassViewModel
@{
    ViewBag.Title = "EditClassname";
}

<h1>Klas bewerken</h1>
<div class="geheel-formulier">
    <form method="post">
        <p class="inlog-box">
            <label class="label-inloggen">Klas</label>
            @Html.TextBoxFor(m => m.Name, new { placeholder = ViewBag.KlasName, @class="input-inloggen" })
        </p>
        <div style="float:right;">
            <input class="inlog-knop" type="submit" value="Opslaan" />
            <input class="inlog-knop" type="submit" value="Verwijderen" name="verwijderen" />
            <a href="@Url.Action("IndexDocent")"><input class="inlog-knop" type="button" value="Terug" /></a>
        </div>
</form>
</div>

<form method="post" action="@Url.Action("Delete")">
    <input type="hidden" value="@ViewBag.KlasName" name="klasName" />
</form>
    
        