<h1>Klassen</h1>

<ul class="index-navigatie-box">
    <li class="navigatie-item" style="background-color: #47AED8"><a class="navigatie-item-tekst" href="@Url.Action("Create", "Account")">Klas toevoegen</a></li>
    <li class="navigatie-item" style="background-color: #47AED8"><a class="navigatie-item-tekst" href="#" onclick="SignOut()">Afmelden</a></li>
    
</ul>

<div class="klassen-box">
    @foreach (var klas in ViewBag.Message)
    {
        <ul class="index-klassen-box">
            <li class="index-klassen"><a class="navigatie-item-tekst" href="@Url.Action("ScheduleChanges", "Home", new { id = klas["Klasnaam"] })">@klas["Klasnaam"]</a></li>
        </ul>
    }
</div>

