
<div class="form">
    <h1 class="message">Inloggen</h1>
    <div class="geheel-formulier">
        <form method="post" class="pure-form-aligned">
            <p class="inlog-box">
                <label class="label-inloggen">Username</label>
                <input class="input-inloggen" type="text" name="username" value="unknown" />
            </p>
            <p class="inlog-box">
                <label class="label-inloggen">Password</label>
                <input class="input-inloggen" type="password" name="password" value="unknown"/>
            </p>
            <p>
                <input class="abonneer-knop" type="submit" value="Login" style="float:right" />
                <a href="@Url.Action("Index", "Home")"><input class="abonneer-knop" style="float:right; margin-right:4px;" type="button" value="Terug"></a>
            </p>
        </form>
    </div>
</div>