@{
    ViewBag.Title = "MultiPush";
}

<h1 class="message">Verstuur een notificatie</h1>
<div class="geheel-formulier">
    <form method="post">
        <p class="inlog-box">
            <label class="label-inloggen">Klas</label>
            <div class="multiple-group">
                @foreach (var klas in ViewBag.Message)
                {
                    <input type="checkbox" id="klas" value="@klas["Klasnaam"]" /> @klas["Klasnaam"]
                }
            </div>
        </p>
        <p class="inlog-box">
            <label class="label-inloggen">Bericht</label>
            <textarea class="area-inloggen" id="message" placeholder="Voer hier uw bericht in" name="message" required></textarea>
        </p>

        <div style="float:right; clear: both;">
            <p style="margin-top: 10px;">
                <input class="inlog-knop" type="submit" value="Verstuur" />
                <a href="@Url.Action("Index", "Home")"><input class="inlog-knop" type="button" value="Terug" /></a>
            </p>
        </div>
    </form>
</div>