@{
    ViewBag.Title = "Push";
}

<div class="form">
    <h1 class="message">Verstuur een notificatie</h1>

    <form method="post">
        
        
            <label>Klas</label>
       
        <select name="klasnaam">
            @foreach (var klas in ViewBag.Message)
            {
                <option id="klas" value="@klas["Klasnaam"]">@klas["Klasnaam"]</option>
            }
        </select>

       <br />
        <label>Bericht</label>
        <textarea id="message" placeholder="Voer hier uw bericht in" name="message"></textarea><br />
        <input type="submit" class="pure-button pure-button-primary" style="float:right" />
    </form>
</div>



