
@{
    ViewBag.Title = "Push";
}

<h2>Send pushnotification</h2>

<form method="post">
    <input type="text" name="message" />
    <input type="submit" />
    <select name="klasnaam">
        @foreach (var klas in ViewBag.Message)
        {
            <option value="@klas["Klasnaam"]">@klas["Klasnaam"]</option>
        }
    </select>
</form>
